@font-face {
  font-family: "fontFamily"; /* Project id 2611798 */
  src: url('iconfont.woff2?t=1623743871519') format('woff2'),
       url('iconfont.woff?t=1623743871519') format('woff'),
       url('iconfont.ttf?t=1623743871519') format('truetype');
}
[class^="el-iconfont"], [class*=" el-iconfont"] {
 font-family:"fontFamily" !important;
 /* 以下内容参照第三方图标库本身的规则 */
 font-size: 18px;
 font-style:normal;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.fontFamily {
  font-family: "fontFamily" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-iconfontshoucang:before {
  content: "\e60f";
}

.el-iconfontshouji:before {
  content: "\e637";
}

.el-iconfontweibo:before {
  content: "\e67a";
}

.el-iconfontxinxi-01:before {
  content: "\e603";
}

.el-iconfontweixin:before {
  content: "\e7e5";
}
