
  .datas_item{
    border: 0px solid #E4E4E4;
    background-color: rgb(229,229,229);
    background: #F9F9F9;
    border-radius: 2px;
    width: 208px;
    padding: 0px;
    box-shadow: 0 0 4px 2px rgba(149,149,149,.3);
  }
  .datas_item:not(:nth-child(5n+1)){
    margin:0px 0px 20px 40px;
  }
  .datas_item>p,h3{
    text-align: left;
    margin-left: 20px;
  }
  .data_bg{
     background-image: url(../imgs/item_bg.png);
  }
  .el-tabs{
    margin: 50px 0px;
  }
  .el-tabs__item{
    color: #929394;
  }
  .market{
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 60px;
  }

  .lbt_left{
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 50%;
    padding: 50px;
  }
  .lbt_left>*{
    margin: 20px;
  }
  .lbt_right{
    cursor: pointer;
    position: absolute;
    right: -150px;
  }
  .right_nav{
    position: fixed;
    right: 20px;
    top: 40%;
    z-index: 100;
    color: white;
  }
  .el-menu{
    background-color: rgb(255,255,255,0.0001);
  }
  .el-menu:hover{
    background-color: rgb(255,255,255,0.0001);
  }
  .el-menu.el-menu--horizontal {
    border-bottom: none;
  }
  .el-menu-item{
    background-color: rgb(255,255,255,0.0001);
  }
   .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, .el-menu--horizontal>.el-submenu .el-submenu__title:hover {
    background-color: rgb(57,65,84)
  }
  .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus{
    background-color: rgb(255,255,255,0.0001);
  }
